<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uusoft.test.zeus.dao.AppManagerMapper">
  <resultMap id="BaseResultMap" type="com.uusoft.test.zeus.entity.model.AppManager">
    <id column="appId" jdbcType="INTEGER" property="appid" />
    <result column="appName" jdbcType="VARCHAR" property="appname" />
    <result column="creatTime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    appId, appName, creatTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_manager
    where appId = #{appid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_manager
    where appId = #{appid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    insert into app_manager (appId, appName, creatTime, 
      updateTime)
    values (#{appid,jdbcType=INTEGER}, #{appname,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    insert into app_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        appId,
      </if>
      <if test="appname != null">
        appName,
      </if>
      <if test="creattime != null">
        creatTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="appname != null">
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    update app_manager
    <set>
      <if test="appname != null">
        appName = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where appId = #{appid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    update app_manager
    set appName = #{appname,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where appId = #{appid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.uusoft.test.zeus.entity.model.AppManager">
    <id column="appId" jdbcType="INTEGER" property="appid" />
    <result column="appName" jdbcType="VARCHAR" property="appname" />
    <result column="creatTime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    appId, appName, creatTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_manager
    where appId = #{appid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_manager
    where appId = #{appid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    insert into app_manager (appId, appName, creatTime, 
      updateTime)
    values (#{appid,jdbcType=INTEGER}, #{appname,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    insert into app_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        appId,
      </if>
      <if test="appname != null">
        appName,
      </if>
      <if test="creattime != null">
        creatTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="appname != null">
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    update app_manager
    <set>
      <if test="appname != null">
        appName = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where appId = #{appid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    update app_manager
    set appName = #{appname,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where appId = #{appid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.uusoft.test.zeus.entity.model.AppManager">
    <id column="appId" jdbcType="INTEGER" property="appid" />
    <result column="appName" jdbcType="VARCHAR" property="appname" />
    <result column="creatTime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    appId, appName, creatTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_manager
    where appId = #{appid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_manager
    where appId = #{appid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    insert into app_manager (appId, appName, creatTime, 
      updateTime)
    values (#{appid,jdbcType=INTEGER}, #{appname,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    insert into app_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        appId,
      </if>
      <if test="appname != null">
        appName,
      </if>
      <if test="creattime != null">
        creatTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="appname != null">
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    update app_manager
    <set>
      <if test="appname != null">
        appName = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where appId = #{appid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uusoft.test.zeus.entity.model.AppManager">
    update app_manager
    set appName = #{appname,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where appId = #{appid,jdbcType=INTEGER}
  </update>
</mapper>